{% extends "layout.html" %}

{% block body %}
    {% if city %}
    <div class="containter-fluid d-flex justify-content-center finfo">
        <div class="row mx-3">
            <div class="col"><i class="bi bi-thermometer"></i>Wind: {{city.feeltemp}}</div>
            <div class="col"><i class="bi bi-thermometer"></i>Humidity: {{city.feeltemp}}</div>
            <div class="col"><i class="bi bi-thermometer"></i>Dew Pt: {{city.feeltemp}}</div>
            <div class="col"><i class="bi bi-thermometer"></i>UV Index: {{city.feeltemp}}</div>
            <div class="col"><i class="bi bi-wind"></i>Wind speed {{city.wind}}</div>
            <div class="col">Feels like {{city.feeltemp}}</div>
        </div>
    </div>
    {% endif %}
{% endblock %}