{% extends "layout.html" %}

{% block body %}
    <div class="container-md weathercardbody rounded mt-3">
        <div class="row weathercardheader">
            <div class="col">"Iasi, Romania" at "2022-01-24 00:34"</div>
        </div>
        <div class="row mt-1">
            <div class="col-8">
                <span class="temptext">{{city.temp}}&#8451</span>
            </div>
            <div class="col-3">
                <img src="/static/amcharts_weather_icons_1.0.0/animated/snowy-6.svg" class="rounded mx-auto d-block" alt="Small icon resembling the weather outside.">
            </div>
        </div>
    </div>
    <div class="container-md weathercardbody rounded mt-1">
        <div class="row">
            <div class="col">{{city.description}}</div>
            <div class="col"><i class="bi bi-thermometer"></i> Feels like {{city.feeltemp}}</div>
            <div class="col"><i class="bi bi-wind"></i> Wind speed {{city.wind}}</div>
            <div class="col">Feels like {{city.feeltemp}}</div>
        </div>
    </div>
{% endblock %}